@media screen and (min-width: 1000px) {
	#login {
		left: calc(60vw);
		width: 22vw;
		height: 27.4vw;
		font-size: 1.3vw;
		top: calc(50vh - 13.7vw);
	}
	h1#crie {
		font-size: 6vw;
	}
	div#fundoJogo div#login input
	{
		width: calc(20.5vw - 1.2vh);
		left: 0.5vw;
		font-size: 1.21vw;
		margin-left: 0px;
	}
	div#fundoJogo div#login h1
	{
		font-size: 2.1vw;
		margin-bottom: 0.8vw;
	}
	div#fundoJogo div#login div#botoes
	{
		top: 0.55vw;
		width: 22vw;
	}
	div#fundoJogo div#login .botaoLogin
	{
		width: 11vw;
		height: 2.6vw;
		line-height: 2.6vw;
		font-size: 1.4vw;
		border-radius: 1vw;
	}
}
@media screen and (max-width: 1000px) {
	#login {
		width: 27vw;
		height: 33.6vw;
		left: calc(50vw - 13.5vw);
		top: calc(50vh - 16.8vw);
		font-size: 1.59vw;
	}
	h1#crie {
		font-size: 0;
	}
	div#fundoJogo div#login input
	{
		width: calc(24.78vw - 1.2vh);
		left: calc(0.61vw);
		font-size: 1.48vw;
	}
	div#fundoJogo div#login h1
	{
		font-size: 2.57vw;
		margin-bottom: 0.97vw;
	}
	div#fundoJogo div#login div#botoes
	{
		top: 0.67vw;
		width: 27vw;
	}
	div#fundoJogo div#login .botaoLogin
	{
		width: 13.42vw;
		height: 3.17vw;
		line-height: 3.17vw;
		font-size: 1.7vw;
		border-radius: 1.22vw;
	}
}
div#fundoJogo div#login
{
	z-index: 1;
	background-color: white;
	position: absolute;
	border: 0.1vw solid black;
	border-radius: 2.2vw;
	box-sizing: border-box;
	font-family: "Helvetica", "sans-serif";
	padding-top: 0px;
}
div#fundoJogo div#login h1
{
	text-align: center;
	font-family: "Century Gothic", "sans-serif";
	font-weight: normal;
}
div#fundoJogo div#login label
{
	position: relative;
	display: inline-block;
	margin-bottom: 1vw;
	margin-left: 0px;
}
div#fundoJogo div#login input
{
	position: relative;
	margin-top: 0.3vw;
	padding: 0.7vh;
	border-width: 0.24vh;
	box-sizing: content-box;
	border-radius: 2vh;
}
div#fundoJogo div#login div#botoes
{
	position: relative;
	text-align: center;
}
div#fundoJogo div#login .botaoLogin
{
	text-align: center;
	color: white;
	border-width: 0.2vw;
	border: solid green;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	transition: transform .5s;
}
div#fundoJogo div#login .botaoLogin:hover {
	transform: scale(1.05)
}
div#fundoJogo div#login a#botaoEntrar:hover
{
	background-color: #10A139;
}
div#fundoJogo div#login a#botaoEntrar
{
	background-color: #009129;
	margin-bottom: 0.3vw;
}
div#fundoJogo div#login a#botaoRegistrar
{
	margin-top: 0.3vw;
	background-color: #346ac1;
	border: solid #245ab1;
}
div#fundoJogo div#login a#botaoRegistrar:hover
{
	background-color: #447ad1;
}
#botoes
{
	margin: auto;
}
div#fundoJogo h1#crie
{
	z-index: 1;
	display: inline-block;
	position: absolute;
	left: 8.2vw;
	top: calc(50vh - 16vw);
	font-family: "Century Gothic";
	font-weight: 900;
	color: #FBFBFB;
	text-shadow: 0 0 4px black;
}