canvas
{
    position: absolute;
    top: calc((92vh - 700 * 1vw / 15) / 2);
    left: calc((76vw - 1000 * 1vw / 15) / 2);
    transform-origin: top left;
    z-index: 3;
}
.grafico
{
    position: absolute;
    display: none;
    width: 95vh;
    height: 50vh;
    left: 21vh;
    top: 35vh;
    z-index: 4;
}