div#painelConfiguracoes
{
    position: absolute;
	bottom: 2%;
	left: 2%;
    margin: auto;
    width: 96%;
    height: 96%;
    background-color: white;
    border-radius: 5%;
}
div#painelConfiguracoesInter
{
    position: relative;
    top: 100px;
    margin: auto;
    width: 900px;
    height: 400px;
    background-color: white;
    border-radius: 5%;	
}
#painelConfiguracoes h1
{
	font-size: 3.6vh;
	font-family: "Century Gothic";
	text-align: center;
}
#configInter h1
{
	font-size: 3.6vh;
	font-family: "Century Gothic";
	text-align: center;
	position: relative;
	top: 1vh;
}
.foto
{
	position: absolute;
	background: url("../imagens/a.png");
	background-size: 100%;
	width: 28vh;
	max-width: 35%;
	height: 28vh;
	left: 6%;
	top: 8.3vh;
	z-index: 4;
}
.foto:hover > .overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.5;
    transition: background-color 0.5s;
    cursor: pointer;
    bottom: 0px;
}
.banner:hover > .overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.5;
    transition: background-color 0.5s;
    cursor: pointer;
    bottom: 0px;
}
#mudarImagem
{
	position: relative;
	top: 8vh;
	visibility: hidden;
	font-family: "Century Gothic";
	text-decoration: underline;
	color: white;
	z-index: 50;
	cursor: pointer;
}
.novaImagem
{
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0px;
	left: 0px;
	z-index: 44;
	cursor: pointer;
	opacity: 0;
}
.banner
{
	position: absolute;
	background: lightgrey;
	background-size: 100%;
	width: 28vh;
	max-width: 35%;
	height: 35vh;
	left: 6%;
	bottom: 15vh;
	z-index: 4;
}
#mudarBanner
{
	position: relative;
	top: 12vh;
	visibility: hidden;
	font-family: "Century Gothic";
	text-decoration: underline;
	color: white;
	z-index: 50;
	cursor: pointer;
}
.novoBanner
{
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0px;
	left: 0px;
	z-index: 44;
	cursor: pointer;
	opacity: 0;
}

hr
{
	position: absolute;
	top: 43vh;
	left: 2.5%;
	color: lightgray;
	background-color: lightgray;
	width: 95%;
	height: 0.3vh;
	border-radius: 2px;
	border: 0px;
	margin: 0px;
}

#tituloBio
{
	font-family: "Century Gothic";
	font-size: 3.1vh;
	font-weight: bold;
	color: black;
	position: absolute;
	top: 1.6vh;
	left: 4.6vh;
}
#bio
{
	font-family: "Arial";
	font-size: 2.1vh;
	color: black;
	position: absolute;
	top: 10vh;
	left: 2%;
	width: 96%;
	border-width: 0.1vh;
	padding: 0.2vh;
}
#personalInfo
{
	position: absolute;
	left: 28vw;
	top: 13vh;
	font-family: "Century Gothic";
	font-size: 2.5vh;
	text-align: justify;
}
input[type="text"], input[type="password"], input[type="email"]
{
	font-size: 2.4vh;
	padding: 0.1vh 0.6vh;
	border-width: 0.1vh;
}
input[type="radio"]
{
	margin: 0.3vh 0.3vh 0vh 0.5vh;
	border: 0px;
	width: 2vh;
	height: 2vh;
}
.exibir
{
	position: relative;
	left: 10px;
}
.exibir:hover
{
	text-decoration: underline;
	color: #0645AD;
	cursor: pointer;
}

#confirm
{
	position: absolute;
	top: 57vh;
	left: 1vh;
	background-color: white;
	color: black;
	border-radius: 0.7vh;
	border: 0.1vh solid black;
	height: 4.5vh;
	width: 30vh;
	font-size: 2.4vh;
}
#confirm:hover
{
	font-weight: bold;
	background-color: green;
	color: white;
	transition: background-color 0.5s;
	transition: color 0.5s;
	cursor: pointer;
}
p#corrija
{
	position: absolute;
	top: 300px;
	right: 300px;
	font-style: italic;
	text-align: center;
	width: 500px;
}
#atualizarBio
{
	position: absolute;
	top: 37vh;
	right: 5%;
	width: 25vh;
	height: 4vh;
	padding: 0.1vh 0.6vh;
	border-width: 0.2vh;
	font-size: 2vh;
	max-width: 90%;
}
#rightPage
{
	position: absolute;
	bottom: 2%;
	right: 2%;
	background: url('../imagens/funcionalidades/setaDireita.png') no-repeat;
	background-size: 100%;
	height: 7vh;
	width: 7vh;
}
#leftPage
{
	position: absolute;
	bottom: 2%;
	left: 2%;
	background: url('../imagens/funcionalidades/setaEsquerda.png') no-repeat;
	background-size: 100%;
	height: 7vh;
	width: 7vh;
}
#rightPage:hover, #leftPage:hover
{
	opacity: 0.8;
	transform: scale(1.2);
	cursor: pointer;
}
#alterarBack
{
	position: absolute;
	top: 10vh;
	text-align: center;
	font-family: "Century Gothic";
	font-size: 3vh;
}
.frmAlter
{
	position: absolute;
	top: 15vh;
	left: calc(50% - 10vh);
}
#alterarBackB
{
	position: absolute;
	top: 85vh;
	left: 6%;
	font-family: "Century Gothic";
	font-size: 2.8vh;
}
.frmAlterB
{
	position: absolute;
	top: 82.2vh;
	left: 8vh;
}
input[type="color"]
{
	position: absolute;
	top: 10vh;
	width: 20vh;
	height: 4vh;
	border-width: 0.1vh;
	padding: 0.1vh 0.2vh;
	box-sizing: border-box;
}
#retirarBanner
{
	position: absolute;
	top: 83vh;
	left: 6%;
	font-size: 2vh;
	width: 28vh;
	max-width: 35%;
	height: 3.2vh;
	padding: 0.1vh 0.6vh;
	border-width: 0.1vh;
}
#configInter
{
	position: absolute;
	top: 42vh;
	width: 100%;
}