div#painelConfiguracoes
{
    position: relative;
    bottom: 10px;
    margin: auto;
    width: 900px;
    height: 800px;
    background-color: white;
    border-radius: 5%;	
}
#painelConfiguracoes h1
{
	font-size: 20pt;
	font-family: "Century Gothic";
	text-align: center;
	position: relative;
	top: 40px;
}
.foto
{
	position: absolute;
	background: url("../imagens/a.png");
	background-size: 100%;
	width: 300px;
	height: 300px;
	right: 500px;
	top: 100px;
	z-index: 4;
}
.foto:hover > .overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.5;
    transition: background-color 0.5s;
    cursor: pointer;
    bottom: 0px;
}
#mudarImagem
{
	position: relative;
	visibility: hidden;
	font-family: "Century Gothic";
	font-size: 10pt;
	text-decoration: underline;
	color: white;
	z-index: 50;
	cursor: pointer;
}
.novaImagem
{
	position: absolute;
	width: 300px;
	height: 300px;
	bottom: 0px;
	left: 0px;
	z-index: 44;
	cursor: pointer;
	opacity: 0;
}


hr
{
	position: absolute;
	top: 450px;
	left: 25px;
	color: lightgrey;
	width: 850px;
	size: 6px;
	border-radius: 2px;
}

#tituloBio
{
	font-family: "Century Gothic";
	font-size: 16pt;
	font-weight: bold;
	color: black;
	position: absolute;
	top: 470px;
	left: 100px;
}
#bio
{
	font-family: "Arial";
	font-size: 12pt;
	color: black;
	position: absolute;
	top: 530px;
	right: 40px;
}
#personalInfo
{
	position: absolute;
	left: 430px;
	top: 125px;
	font-family: "Century Gothic";
	font-size: 14pt;
	text-align: justify;
}
.exibir
{
	position: relative;
	left: 10px;
}
.exibir:hover
{
	text-decoration: underline;
	color: #0645AD;
	cursor: pointer;
}

#confirm
{
	position: absolute;
	top: 270px;
	left: 180px;
	background-color: white;
	color: green;
	border-radius: 5px;
	border: 1px solid black;
	height: 30px;
	width: 220px;
	font-size: 14pt;
}
#confirm:hover
{
	font-weight: bold;
	background-color: green;
	color: white;
	transition: background-color 0.5s;
	transition: color 0.5s;
	cursor: pointer;
}
p#corrija
{
	position: absolute;
	top: 260px;
	right: 300px;
	font-style: italic;
	text-align: center;
	width: 500px;
}
#atualizarBio
{
	position: absolute;
	top: 730px;
	left: 650px;
}