body
{
	margin: 0px;
	padding: 0px;
	background-color: black;
	min-width: 500px;
}
/*@media screen and (min-width: 1000px){*/
/*}*/
header 
{
	min-width: 500px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-color: black;
	border-bottom: 0.3vh solid white;
	box-shadow: 0px 0.3vh 0.3vh black;
	color: white;
	height: 12vh;
}
header h1
{
	position: relative;
	margin: 0px;
	font-family: "Century Gothic", "sans-serif";
	font-size: 3vw;
	display: inline-block;
	left: 4vw;
	line-height: 12vh;
}
nav ul
{
	min-width: 461px;
	display: inline-block;
	position: absolute;
	left: calc(100vw - 530px); 
}
nav ul li
{
	display: inline-block;
	height: 4vh;
	line-height: 4vh;
	text-align: center;
	text-decoration: none;
	font-family: "Century Gothic";
	font-size: 2.4vh;
	position: relative;
	border: 0.2vw solid white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-left: 0.2vh;
	margin-right: 0.2vh;
	color: white;
	background-color: black;
	transition: .3s;
}
nav ul li:hover
{
	background-color: #505050;
	bottom: 25px;
	height: 4vh;
}
nav ul li#home
{
	width: 9vh;
}
nav ul li#funcionalidades
{
	width: 20vh;
}
nav ul li#galeria
{
	width: 95px;
}
nav ul li#ranking
{
	width: 95px;
}
div#fundoJogo
{
	width: 100%;
	height: 76vh;
	min-height: 400px;
	background: url('../imagens/empresa.png') no-repeat;
	background-size: 255vh;
	background-position: center 0px;
}
div#fundoJogo div#cortina
{
	min-width: 500px;
	width: 100%;
	height: 92vh;
	min-height: 400px;
	top: calc(12vh + 0.3vh);
	background-color: black;
	opacity: .6;
	position: absolute;
}
footer
{
	background-color: black;
	border-top: 2px solid white;
	min-width: 500px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 12vh;
	color: white;
}
footer div
{
	position: relative;
	left: 2vh;
	top: 2vh;
	border: 0.3vh solid white;
	border-radius: 50%;
	width: 10vh;
	height: 10vh;
	background: url("../imagens/cotuca_transparente_logo.png") no-repeat;
	background-size: 100%;
}
a
{
	text-decoration: none;
	transition: .2s;
	cursor: pointer;
}