#simulacao
{
	position: absolute;
	width: 96%;
	height: 78vh;
	left: 2%;
	top: 7.2vh;
	background: white;
}
#nomeSimulacao
{
	font-family: "Century Gothic";
	font-size: 3.8vh;
}

#simulacao hr
{
	color: black;
	background-color: black;
	height: 0.13vh;
	width: 99%;
	border: 0;
	margin: 1vh;
}
.graficosSimulacao
{
	height: 50vh;
	background-color: white;
	width: 96%;
	position: absolute;
	left: 2%;
	top: 13vh;
}

.btn
{
	position: absolute;
	top: 69vh;
	width: 14.1%;
	height: 6.2vh;
	font-size: 2vh;
	box-sizing: border-box;
	padding: 0.13vh 0.7vh;
}
#addSub {left: 6.5%;}
#tabelas {left: 21.3%;}
#addConta {left: 36.1%;}
#removerConta {left: 50.9%;}
#atualizarConta {left: 65.7%;}
#previsao {left: 80.5%;}

#modal-content
{
  	background-color:#f4f4f4;
  	margin: 20% auto;
  	width:70%;
  	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  	animation-name:modalopen;
  	animation-duration:1s;
  	position: absolute;
  	left: 20%;
  	top: -20vh;
}
#painelConta
{
	position: absolute;
	background-color: white;
	width: 130vh;
	top: -10vh;
	left: 15vh;
	height: auto;
}