.painelManual
{
	position: absolute;
	top: 5%;
	left: 5%;
	background-color: white;
	font-family: "Century Gothic";
	color: black;
	width: 90%;
	height: 90%;
}
#conteudo .painelManual h1
{
	text-align: center;
	font-size: 5vh;
}
#conteudo .painelManual h2
{
	position: relative;
	left: 5.2vh;
	text-align: justify;
	font-size: 4vh;
	bottom: 3vh;
}
#conteudo .painelManual p
{
	position: relative;
	left: 3.25vh;
	text-align: justify;
	font-size: 2.5vh;
	bottom: 3vh;
}
#conteudo .painelManual hr
{
	color: lightgray;
	background-color: lightgray;
	width: 97%;
	height: 0.3vh;
	border: 0;
	margin: 1vh;
}
#conteudo .painelManual #txt
{
	width: 95%;
}
#avancar
{
	position: absolute;
	bottom: calc(5% + 2vh);
	right: calc(5% + 2vh);
	width: 8vh;
	height: 8vh;
	background: url('../imagens/funcionalidades/setaDireita.png') no-repeat;
	background-size: 100%;
}
#retroceder
{
	position: absolute;
	bottom: calc(5% + 2vh);
	left: calc(5% + 2vh);
	width: 8vh;
	height: 8vh;
	background: url('../imagens/funcionalidades/setaEsquerda.png') no-repeat;
	background-size: 100%;
}
.painelManual #razonete
{
	max-width: 15vh;
	max-height: 15vh;
}
.painelManual #bp
{
	position: relative;
	bottom: 5vh;
}
.painelManual #l
{
	position: relative;
	bottom: 3vh;
	max-width: 90%;
	max-height: 15vh;
}