@media screen and (min-width: 131.8vh)
{
	.painelManual
	{
		width: 90%;
	}
	#conteudo .painelManual h1
	{
		font-size: 2.4vw;
	}
	#conteudo .painelManual h2
	{
		font-size: 2vw;
	}
	#conteudo .painelManual p
	{
		font-size: 1.2vw;
		max-width: 90%;
	}
}
@media screen and (max-width: 131.8vh)
{
	.painelManual
	{
		width: 119.9vh;
	}
	#conteudo .painelManual h1
	{
		font-size: 3.5vh;
	}
	#conteudo .painelManual h2
	{
		font-size: 2.8vh;
	}
	#conteudo .painelManual p
	{
		font-size: 2.1vh;
	}
}

.painelManual
{
	position: absolute;
	top: 2.5%;
	left: 5%;
	background-color: white;
	font-family: "Century Gothic";
	color: black;
	height: 91vh;
}


#conteudo .painelManual h1
{
	text-align: center;
}
#conteudo .painelManual h2
{
	left: 5.2vh;
	position: relative;
	text-align: justify;
	bottom: 3vh;
}
#conteudo .painelManual p
{
	position: relative;
	left: 3.25vh;
	text-align: justify;
	bottom: 3vh;
	margin-bottom: 1vh;
	margin-top: 1vh;
}
#conteudo .painelManual hr
{
	color: lightgray;
	background-color: lightgray;
	width: 97%;
	height: 0.3vh;
	border: 0;
	margin: 1vh;
}
#conteudo .painelManual #txt
{
	width: 95%;
}
#avancar
{
	position: absolute;
	bottom: calc(5% + 2vh);
	right: calc(10% + 2vh);
	width: 8vh;
	height: 8vh;
	background: url('../imagens/funcionalidades/setaDireita.png') no-repeat;
	background-size: 100%;
}
#retroceder
{
	position: absolute;
	bottom: calc(5% + 2vh);
	left: calc(5% + 2vh);
	width: 8vh;
	height: 8vh;
	background: url('../imagens/funcionalidades/setaEsquerda.png') no-repeat;
	background-size: 100%;
}
.painelManual #razonete
{
	max-width: 14.5vh;
	margin-bottom: 1vh;
	margin-top: 1vh;
}
.painelManual #bp
{
	position: relative;
	bottom: 5vh;
	right: 1vh;
	width: 38vh;
	margin-bottom: 1vh;
	margin-top: 1vh;
}
.painelManual #l
{
	position: relative;
	bottom: 3vh;
	max-width: 90%;
	max-height: 15vh;
}