.select
{
	position: absolute;
	top: 24vh;
	left: 12.5vh;
	width: 60vh;
	height: 6.5vh;
	padding: 0;
	background-color: transparent;
	border-radius: 1.3vh;
	font-family: "Century Gothic";
	font-size: 3.4vh;
	z-index: 40;
	border-width: 0.13vh;
	border-image-width: 0.13vh;
	background-size: 4vh;
	box-sizing: border-box;
}
.select:hover
{
	cursor: pointer;
}

.opcaoSelect
{
	width: 60vh;
	height: 6.5vh;
	font-size: 3vh;
}
.btnCarregar
{
	position: absolute;
	top: 60vh;
	left: 45.5vh;
	width: 26vh;
	height: 6.5vh;
	background-color: white;
	border-radius: 6.5vh;
	font-size: 2.8vh;
	font-family: "Century Gothic";
	color: black;
	font-weight: bold;
	visibility: hidden;
	border: 0.26vh solid black;
	z-index: 323;
}

.btnCarregar:hover
{
	color: white;
	background-color: green;
	transform: scale(1.2, 1.2);
	cursor: pointer;
}
#painelSelecionar
{
	position: relative;
	top: 7vh;
	margin-left: auto;
	margin-right: auto;
	width: 117vh;
	max-width: 100%;
	height: 78vh;
	border-radius: 10%;
	background: white;
	font-family: "Century Gothic";
}
#txtSelecionar
{
	font-size: 4vh;
	position: absolute;
	left: 35vh;
	top: 10vh;
	padding: 0.13vh 0;
	border-width: 0.26vh;
}
#canvasSimulacoes
{
	position: absolute;
	top: 24vh;
	left: 12.5vh;
	width: 60vh;
	height: 6.5vh;
	z-index: 3;
}