body
{
	margin: 0px;
	padding: 0px;
	background-color: #4c98a5;
	min-width: 1000px;
	max-width: 2500px;
}
header 
{
	min-width: 1000px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 90px;
	background-color: black;
	border-bottom: 2px solid white;
	box-shadow: 0px 2px 2px black;
	color: white;
}
header h1
{
	position: relative;
	top: 15px;
	left: 45px;
	margin: 0px;
	font-family: "Century Gothic", "sans-serif";
	font-size: 35pt;
	display: inline-block;
}
nav ul
{
	display: inline-block;
	position: absolute;
	right: 7px;
}
nav ul li
{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font-family: "Century Gothic";
	position: relative;
	bottom: 15px;
	border: 2px solid white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-left: 1px;
	margin-right: 1px;
	color: white;
	background-color: black;
	transition: .3s;
}
nav ul li:hover
{
	background-color: #505050;
	height: 40px;
	bottom: 25px;
}
nav ul li#home
{
	width: 90px;
}
nav ul li#funcionalidades
{
	width: 160px;
}
nav ul li#galeria
{
	width: 100px;
}
nav ul li#ranking
{
	width: 100px;
}
section
{
	position: relative;
	top: 10px;
	background-color: black;
	color: white;
	width: 600px;
	height: 600px;
	margin: auto;
	border-radius: 10px;
	border: 2px solid black;
	font-family: "Century Gothic";
	font-size: 14pt;
}
label
{
	display: inline-block;
	margin-bottom: 10px;
}
input
{
	margin-top: 5px;
}
input.texto
{
	width: 370px;
	padding: 4px;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 25px;
	border: 2px solid black;
}
section h1
{
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	font-weight: normal;
	font-size: 24pt;
	width: 100%;
}
hr
{
	margin-bottom: 0px;
}
form
{
	background-image: linear-gradient(to bottom right , gray, white);
	color: black;
	margin: 0px;
	box-sizing: border-box;
	width: 100%;
	height: 529px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 20px;
	padding-left: 40px;
}
label
{
	font-weight: 700;
}
#botaoRegistrar
{
	background-color: #009129;
	width: 170px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	font-size: 17pt;
	border-radius: 16px;
	color: white;
	border: 3px solid green;
	display: inline-block;
	margin-top: 5px;
	margin: auto;
	position: relative;
	top: 35px;
	left: 175px;
}
#botaoRegistrar:hover
{
	background-color: #10A139;
}
a
{
	cursor: pointer;
}
p#corrija
{
	position: relative;
	top: 30px;
	font-style: italic;
}