#conteudo
{
	width: 100%;
	height: 96vh;
	z-index: 3;
	position: absolute;
}
a
{
	text-decoration: none;
	transition: 0;
	cursor: pointer;
}
div#menu .tituloMenu
{
	position: absolute;
	font-size: 2.2vw;
	font-family: "Century Gothic";
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	left: 3vw;
}
div#menu .fotoPerfil
{
	position: absolute;
	margin: auto;
	background: url('../imagens/a.png');
	background-position: center;
	background-size: 100%;
	top: 13vh;
	left: 4.5vw;
	border-radius: 50%;
	width: 15vw;
	height: 15vw;
}
div#menu .userData
{
	position: absolute;
	top: 39vh;
	left: 0;
	width: 24vw;
	font-size: 2.7vw;
	font-family: "Century Gothic";
	text-align: center;
}
.menuOpcoes
{
	background-color: rgb(192, 192, 192);
	width: 24vw;
	height: 96vh;
	border-right: 0.1vw solid white;
	box-sizing: border-box;
}
a
{
	text-decoration:none;
	color: inherit;
}
.opcao
{
	position: absolute;
	width: 23.9vw;
	background-color: white;
	height: 7.8vh;
	color:black;
	font-family: "Century Gothic";
	font-size: 1.4vw;
	line-height: 7.8vh;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	cursor:pointer;
	transition: background-color 0.2s ease-out;
	z-index: 1;
}
.opcao:hover
{
	background-color: #cccccc;
	color: #222222;
}
#configuracoes
{
	top: 57.7vh;
}
#classificacao
{
	top: 65.5vh;
}
#manual
{
	top: 73.1vh;
}
#simulacoes
{
	top: 80.7vh;
}
#jogos
{
	top: 88.5vh;
}
section#conteudoInfo
{
	background-color: #4c98a5;
	position: absolute;
	top: 0vh;
	left: 24vw;
	width: calc(100% - 24vw);
	height: 96vh;
	margin: 0px;
	flex: 1;
	text-align: center;
}


#txtConfirma
{
	position: relative;
	text-align: center;
	font-size: 5vh;
	font-family: "Century Gothic";
	color: black;
}
#btnSim
{
	position: relative;
	bottom: 4.25vh;
	left: -5vh;
	width: 20vh;
	height: 5vh;
	border: 0.3vh solid black;
	border-radius: 5vh;
	color: black;
	font-size: 3vh;
	background-color: white;
	transition: color 0.5s;
	transition: background-color 0.5s;
	font-weight: bold;
}
#btnSim:hover
{
	cursor:pointer;
	background-color: green;
	color:white;
	transition: color 0.5s;
	transition: background-color 0.5s;
}
#btnCancelar
{
	position: relative;
	bottom: 4.25vh;
	left: 5vh;
	width: 20vh;
	height: 5vh;
	border: 0.3vh solid black;
	border-radius: 5vh;
	color: black;
	font-size: 3vh;
	background-color: white;
	transition: color 0.5s;
	transition: background-color 0.5s;
	font-weight: bold;
}
#btnCancelar:hover
{
	cursor:pointer;
	background-color: darkred;
	color:white;
	transition: color 0.5s;
	transition: background-color 0.5s;
}
#btnOK
{
	position: relative;
	bottom: 2vh;
	left: 0;
	width: 20vh;
	height: 5vh;
	border: 0.3vh solid black;
	border-radius: 5vh;
	color: black;
	font-size: 3vh;
	background-color: white;
	transition: color 0.5s;
	transition: background-color 0.5s;
	font-weight: bold;
}
#btnOK:hover
{
	cursor:pointer;
	background-color: rgb(43, 106, 255);
	color:white;
	transition: color 0.5s;
	transition: background-color 0.5s;
}

#modalConfirma-content
{
  	background-color: lightgray;
  	margin: 20% auto;
  	width:40%;
  	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  	animation-name:modalopen;
  	animation-duration:1s;
  	position: absolute;
  	left: 40%;
  	top: -15vh;
}
.btnSair
{
	background: url('../imagens/sairSimulacao.png') no-repeat;
	background-size: 100%;
	position: absolute;
	top: -4vh;
	right: -4vh;
	width: 8vh;
	height: 8vh;
	border-radius: 50%;	
	transition: filter 0.5s;
	z-index: 20000;
}
.btnSair:hover
{
	filter: brightness(150%);
	transition: filter 0.5s;
	cursor: pointer;
}
@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}

.modal
{
 	display:none;
 	position: fixed;
  	z-index:1;
  	left: 0;
  	top:0;
  	height: 100%;
  	width:100%;
  	background-color: rgba(0,0,0,0.5);
}