#simulacao
{
	position: absolute;
	width: 96%;
	height: 78vh;
	left: 2%;
	top: 7.2vh;
	background: white;
}
#nomeSimulacao
{
	font-family: "Century Gothic";
	font-size: 3.8vh;
}

#simulacao hr
{
	color: black;
	background-color: black;
	height: 0.13vh;
	width: 99%;
	border: 0;
	margin: 1vh;
}
#graficosSimulacao
{
	height: 50vh;
	background-color: green;
	width: 96%;
	position: absolute;
	left: 2%;
	top: 13vh;
}

.btn
{
	position: absolute;
	top: 69vh;
	width: 16.91%;
	height: 6.2vh;
	font-size: 2vh;
	box-sizing: border-box;
	padding: 0.13vh 0.7vh;
}
#tabelas {left: 6vh;}
#addConta {left: 31.25vh;}
#removerConta {left: 56.5vh;}
#atualizarConta {right: 31.25vh;}
#previsao {right: 6vh;}

.modal
{
 	display:none;
 	position: fixed;
  	z-index:1;
  	left: 0;
  	top:0;
  	height: 100%;
  	width:100%;
  	background-color: rgba(0,0,0,0.5);
}
#modal-content
{
  	background-color:#f4f4f4;
  	margin: 20% auto;
  	width:70%;
  	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  	animation-name:modalopen;
  	animation-duration:1s;
  	position: absolute;
  	left: 20%;
  	top: -20vh;
}
.btnSair
{
	background: url('../imagens/sairSimulacao.png') no-repeat;
	background-size: 100%;
	position: absolute;
	top: -4vh;
	right: -4vh;
	width: 8vh;
	height: 8vh;
	border-radius: 50%;	
	transition: filter 0.5s;
	z-index: 2;
}
.btnSair:hover
{
	filter: brightness(150%);
	transition: filter 0.5s;
	cursor: pointer;
}
@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}
#painelConta
{
	background-color: white;
	height: 66vh;
}