body
{
	margin: 0px;
	padding: 0px;
	background-color: rgb(76, 152, 165);
	min-width: 1000px;
}
header 
{
	min-width: 1000px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 90px;
	background-color: black;
	border-bottom: 2px solid white;
	box-shadow: 0px 2px 2px black;
	color: white;
}
header h1
{
	position: relative;
	top: 15px;
	left: 45px;
	margin: 0px;
	font-family: "Century Gothic", "sans-serif";
	font-size: 35pt;
	display: inline-block;
}
nav ul
{
	display: inline-block;
	position: absolute;
	right: 7px;
}
nav ul li
{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font-family: "Century Gothic";
	position: relative;
	bottom: 15px;
	border: 2px solid white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-left: 1px;
	margin-right: 1px;
	color: white;
	background-color: black;
	transition: .3s;
}
nav ul li:hover
{
	background-color: #505050;
	height: 40px;
	bottom: 25px;
}
nav ul li#home
{
	width: 90px;
}
nav ul li#funcionalidades
{
	width: 160px;
}
nav ul li#galeria
{
	width: 100px;
}
nav ul li#ranking
{
	width: 100px;
}
div#menu .tituloMenu
{
	font-size: 24pt;
	font-family: "Century Gothic";
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}
div#menu .fotoPerfil
{
	position: absolute;
	margin: auto;
	background: url('../imagens/a.png');
	background-position: center;
	background-size: 100%;
	left: 125px;
	border-radius: 50%;
	width: 250px;
	height: 250px;
}
div#menu .userData
{
	position: relative;
	top: 250px;
	font-family: "Century Gothic";
	text-align: center;
}
.menuOpcoes
{
	position: relative;
	background-color: rgb(192, 192, 192);
	width: 500px;
	bottom: 18.5px;
	height: 800px;
}
a {
	text-decoration:none;
	color: inherit;
}
#configuracoes h3, #classificacao h3, #manual h3, #simulacoes h3, #jogos h3
{
	line-height: 350%;
	font-size: 15pt;
	text-align: center;
}
#configuracoes:hover, #classificacao:hover, #manual:hover, #simulacoes:hover, #jogos:hover
{
	background-color: black;
	color: white;
	font-weight: bold;
	cursor:pointer;
	transition: background-color 0.2s ease-out;
}
#configuracoes
{
	position: relative;
	top: 41.5%;
	background-color: white;
	height: 65px;
	width: auto;
	color:black;
	font-family: "Century Gothic";
}
#classificacao
{
	position: relative;
	top: 39%;
	background-color: white;
	height: 65px;
	color:black;
	font-family: "Century Gothic";
}
#manual
{
	position: relative;
	top: 36%;
	background-color: white;
	height: 65px;
	color:black;
	font-family: "Century Gothic";
}
#simulacoes
{
	position: relative;
	top: 33.5%;
	background-color: white;
	height: 65px;
	color:black;
	font-family: "Century Gothic";
}
#jogos
{
	position: relative;
	top: 31%;
	background-color: white;
	height: 65px;
	color:black;
	font-family: "Century Gothic";
}