.select
{
	position: absolute;
	top: 24vh;
	left: 12.5vh;
	width: 52vh;
	height: 6.5vh;
	padding: 0;
	background-color: transparent;
	border-radius: 1.3vh;
	font-family: "Century Gothic";
	font-size: 3.4vh;
	z-index: 40;
	border-width: 0.13vh;
	border-image-width: 0.13vh;
	background-size: 4vh;
	box-sizing: border-box;
}
.select:hover
{
	cursor: pointer;
}

.opcaoSelect
{
	width: 52vh;
	height: 6.5vh;
	font-size: 3vh;
}
#canvasSelect
{
	position: absolute;
	top: 24vh;
	left: 12.5vh;
	width: 52vh;
	height: 6.5vh;
	z-index: 3;
}
.btnCarregar
{
	position: absolute;
	top: 60vh;
	left: 20%;
	width: 26vh;
	height: 6.5vh;
	background-color: white;
	border-radius: 6.5vh;
	font-size: 2.8vh;
	font-family: "Century Gothic";
	color: black;
	font-weight: bold;
	visibility: hidden;
	border: 0.26vh solid black;
	z-index: 323;
}

.btnCarregar:hover
{
	color: white;
	background-color: green;
	cursor: pointer;
	transition: color 0.5s;
	transition: background-color 0.5s;
}

.btnRemover
{
	position: absolute;
	top: 60vh;
	right: 20%;
	width: 26vh;
	height: 6.5vh;
	background-color: white;
	border-radius: 6.5vh;
	font-size: 2.8vh;
	font-family: "Century Gothic";
	color: black;
	font-weight: bold;
	visibility: hidden;
	border: 0.26vh solid black;
	z-index: 323;
}
.btnRemover:hover
{
	color: white;
	background-color: rgb(134, 4, 4);
	cursor: pointer;
	transition: color 0.5s;
	transition: background-color 0.5s;
}

#painelSelecionar
{
	position: relative;
	top: 7vh;
	margin-left: auto;
	margin-right: auto;
	width: 117vh;
	max-width: 100%;
	height: 78vh;
	border-radius: 10%;
	background: white;
	font-family: "Century Gothic";
}
#txtSelecionar
{
	font-size: 4vh;
	position: absolute;
	left: 35vh;
	top: 10vh;
	padding: 0.13vh 0;
	border-width: 0.26vh;
}
#newGame
{
	width: 26vh;
	height: 8vh;
	position: absolute;
	top: 24vh;
	left: 74vh;
	border-radius: 1.3vh;
	font-family: "Century Gothic";
	font-weight: bold;
	font-size: 3vh;
	color: black;
	background-color: white;
	border: 0.26vh solid black;
	padding: 0.13vh 0.8vh;
}
#newGame:hover
{
	cursor: pointer;
	color: white;
	background-color: rgb(43, 106, 255);
	transition: color 1s;
	transition: background-color .5s;

}
.modal
{
 	display:none;
 	position: fixed;
  	z-index:100000;
  	left: 0;
  	top:0;
  	height: 100%;
  	width:100%;
  	background-color: rgba(0,0,0,0.5);
}
#modalJogo-content
{
  	background-color:#f4f4f4;
  	margin: 20% auto;
  	width:70%;
  	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  	animation-name:modalopen;
  	animation-duration:1s;
  	position: absolute;
  	left: 0px;
  	top: 0px;
}
#btnSair
{
	background: url('../imagens/sairSimulacao.png') no-repeat;
	background-size: 100%;
	position: absolute;
	top: -4vh;
	right: -4vh;
	width: 8vh;
	height: 8vh;
	border-radius: 50%;	
	transition: filter 0.5s;
}
#btnSair:hover
{
	filter: brightness(150%);
	transition: filter 0.5s;
	cursor: pointer;
}
@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}
#painelAdicaoJogo
{
	width: 70vh;
	height: 30vh;
	background-color: white;
	position: absolute;
	left: calc(50vw - 35vh);
	border-radius: 1.3vh;
	border: .26vh solid black;
}
#painelAdicaoJogo h1
{
	font-size: 3.5vh;
}
#painelAdicaoJogo h2
{
	font-size: 3.2vh;
}
#painelAdicaoJogo input[type="text"]
{
	font-weight: normal;
	font-family: "Century Gothic";
	font-size: 2.8vh;
	height: 3.4vh;
	width: 40vh;
	padding: 0.13vh 0;
	border-width: 0.26vh;
	box-sizing: border-box;
	position: absolute;
	top: 10vh;
	left: 15vh;
}
#criar
{
	position: absolute;
	height: 6vh;
	width: 18vh;
	top: 18vh;
	left: 36%;
	text-align: center;
	line-height: 6vh;
	border: 0.26vh solid black;
	border-radius: 1.3vh;
	background-color: white;
	font-family: "Century Gothic";
	font-size: 2.4vh;
	color: black;
	text-decoration: none;
}
#criar:hover
{
	cursor: pointer;
	background-color: rgb(43, 106, 255);
	color: white;
	transition: color 0.4s, background-color 0.4s;
}