section#conteudo
{
	position: absolute;
	z-index: 1;
	top: 14vh;
	left: 0;
	right: 0;
	margin-left: auto; 
	margin-right: auto; 
	
	background-color: black;
	color: white;
	width: 72vh;
	height: 72vh;
	margin: auto;
	border-radius: 1.2vh;
	border: 0.24vh solid black;
	font-family: "Century Gothic";
	font-size: 2.7vh;
}
label
{
	display: inline-block;
	margin-bottom: 1.2vh;
}
input
{
	margin-top: 0.4vh;
}
input[type="radio"]
{
	border: 0px;
    width: 2vh;
    height: 2vh;
	margin: 0.36vh 0.36vh 0vh 0.6vh;
}
input.texto
{
	font-size: 2vh;
	width: 42vh;
	height: 2vh;
	padding: 1vh;
	padding-left: 2vh;
	padding-right: 2vh;
	border-radius: 3vh;
	border: 0.24vh solid black;
}
section#conteudo h1
{
	margin-top: 1.8vh;
	margin-bottom: 1.8vh;
	text-align: center;
	font-weight: normal;
	font-size: 4vh;
	width: 100%;
}
hr
{
	margin-bottom: 0px;
	height: 0.24vh;
	background-color: white;
	color: white;
	border: none;
}
form
{
	background-image: linear-gradient(to bottom right , gray, white);
	color: black;
	margin: 0px;
	box-sizing: border-box;
	width: 100%;
	height: 63.3vh;
	border-bottom-left-radius: 1.2vh;
	border-bottom-right-radius: 1.2vh;
	padding-top: 1.8vh;
	padding-left: 4.8vh;
}
label
{
	font-weight: 700;
}
#botaoRegistrar
{
	background-color: #009129;
	width: 20vh;
	height: 5vh;
	text-align: center;
	text-decoration: none;
	line-height: 5vh;
	font-size: 3vh;
	border-radius: 2vh;
	color: white;
	border: .36vh solid green;
	display: inline-block;
	margin-top: 0.6vh;
	margin: auto;
	position: relative;
	left: 21.2vh;
	transition: transform 0.5s;
}
#botaoRegistrar:hover
{
	background-color: #10A139;
	transform: scale(1.05)
}
a
{
	cursor: pointer;
}
p#corrija
{
	position: relative;
	top: 3.6vh;
	font-style: italic;
}