body
{
	margin: 0px;
	padding: 0px;
	background-color: black;
	min-width: 1000px;
}
header {
	min-width: 1000px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 90px;
	background-color: black;
	border-bottom: 2px solid white;
	box-shadow: 0px 2px 2px black;
	color: white;
}
header h1
{
	position: relative;
	top: 15px;
	left: 50px;
	margin: 0px;
	font-family: "Century Gothic", "sans-serif";
	font-size: 35pt;
	display: inline-block;
}
nav ul
{
	display: inline-block;
	position: relative;
	left: 470px;
}
nav ul li
{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-family: "Century Gothic";
	position: relative;
	bottom: 13px;
	border: 2px solid white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-left: 1px;
	margin-right: 1px;
}
nav ul li#funcionalidades
{
	width: 170px;
}
nav ul li#galeria
{
	width: 130px;
}
nav ul li#ranking
{
	width: 130px;
}
div#fundoJogo
{
	width: 100%;
	height: 700px;
	background: url('../imagens/empresa.png') no-repeat;
	background-size: 125%;
	background-position: center 0px;
}
div#fundoJogo div#cortina
{
	min-width: 1000px;
	width: 100%;
	height: 700px;
	background-color: black;
	opacity: .6;
	position: absolute;
	top: 92px;
}
div#fundoJogo div#login
{
	z-index: 1;
	background-color: white;
	width: 345px;
	height: 430px;
	position: absolute;
	top: 180px;
	left: 600px;
	border: 2px solid black;
	border-radius: 25px;
	font-size: 15pt;
	font-family: "Helvetica", "sans-serif";
	padding: 10px;
	padding-top: 0px;
}
div#fundoJogo div#login h1
{
	text-align: center;
	font-family: "Century Gothic", "sans-serif";
	font-size: 26pt;
	margin-bottom: 40px;
	font-weight: normal;
}
div#fundoJogo div#login label
{
	position: relative;
	left: 7px;
	display: inline-block;
	margin-bottom: 15px;
}
div#fundoJogo div#login input
{
	width: 320px;
	font-size: 14pt;
	padding: 4px;
	margin-top: 5px;
}
div#fundoJogo div#login div#botoes
{
	position: relative;
	top: 20px;
	text-align: center;
}
div#fundoJogo div#login .botao
{
	background-color: #009129;
	margin: auto;
	width: 170px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 17pt;
	border-radius: 16px;
	color: white;
	border: 3px solid green;
	display: inline-block;
}
div#fundoJogo div#login a#botaoEntrar:hover
{
	background-color: #10A139;
}
div#fundoJogo div#login a#botaoEntrar
{
	margin-bottom: 5px;
}
div#fundoJogo div#login a#botaoRegistrar
{
	margin-top: 5px;
	background-color: #346ac1;
	border: 3px solid #245ab1;
}
div#fundoJogo div#login a#botaoRegistrar:hover
{
	background-color: #447ad1;
}
a
{
	text-decoration: none;
}
#botoes
{
	width: 170px;
	margin: auto;
}
div#fundoJogo h1#crie
{
	z-index: 1;
	display: inline-block;
	position: absolute;
	left: 110px;
	top: 140px;
	font-family: "Century Gothic";
	font-size: 75pt;
	font-weight: 900;
	color: #FBFBFB;
	text-shadow: 0 0 4px black;
}
footer
{
	background-color: black;
	border-top: 2px solid white;
	width: 100%;
	height: 100px;
	color: white;
}
footer img
{
	position: relative;
	left: 20px;
	top: 15px;
	border: 2px solid white;
	border-radius: 50%;
}