.select
{
	position: absolute;
	top: 200px;
	left: 125px;
	width: 400px;
	height: 65px;
	background-color: transparent;
	border-radius: 10px;
	font-family: "Century Gothic";
	font-size: 18pt;
	z-index: 40;
}
.select:hover
{
	cursor: pointer;
}

.opcaoSelect
{
	width: 400px;
	height: 65px;
	font-size: 16pt;
}

.btnCarregar
{
	position: absolute;
	top: 390px;
	left: 380px;
	width: 200px;
	height: 50px;
	background-color: white;
	border-radius: 50px;
	font-size: 15pt;
	font-family: "Century Gothic";
	color: black;
	font-weight: bold;
	visibility: hidden;
	border: 2px solid black;
	z-index: 323;
}

.btnCarregar:hover
{
	color: white;
	background-color: green;
	cursor: pointer;
	transition: color 0.5s;
	transition: background-color 0.5s;
}
#painelSelecionar
{
	position: relative;
	top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: 600px;
	border-radius: 10%;
	background: white;
	font-family: "Century Gothic";
}
#txtSelecionar
{
	font-size: 24pt;
	position: absolute;
	left: 300px;
	top: 80px;
}
#newGame
{
	width: 200px;
	height: 65px;
	position: absolute;
	top: 200px;
	left: 600px;
	border-radius: 10px;
	font-family: "Century Gothic";
	font-weight: bold;
	font-size: 17pt;
	color: black;
	background-color: white;
	border: 2px solid black;
}
#newGame:hover
{
	cursor: pointer;
	color: white;
	background-color: rgb(43, 106, 255);
	transition: color 1s;
	transition: background-color .5s;

}
.modal
{
 	display:none;
 	position: fixed;
  	z-index:100000;
  	left: 0;
  	top:0;
  	height: 100%;
  	width:100%;
  	background-color: rgba(0,0,0,0.5);
}
#modalJogo-content
{
  	background-color:#f4f4f4;
  	margin: 20% auto;
  	width:70%;
  	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  	animation-name:modalopen;
  	animation-duration:1s;
  	position: absolute;
  	left: 0px;
  	top: 0px;
}
#btnSair
{
	background: url('../imagens/sairSimulacao.png');
	position: absolute;
	top: -32px;
	right: -32px;
	width: 64px;
	height: 64px;
	border-radius: 50%;	
	transition: filter 0.5s;
}
#btnSair:hover
{
	filter: brightness(150%);
	transition: filter 0.5s;
	cursor: pointer;
}
@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}
#painelAdicaoJogo
{
	width: 900px;
	height: 200px;
	background-color: white;
	position: absolute;
	left: 50%;
	margin-right: -450px;
	top: -250px;
	border-radius: 10px;
	border: 2px solid black;
}
#painelAdicaoJogo h1
{
	font-size: 24pt;
}
#painelAdicaoJogo h2
{
	font-size: 18pt;
}
#painelAdicaoJogo input[type="text"]
{
	font-weight: normal;
	font-family: "Century Gothic";
	font-size: 16pt;
}
#criar
{
	position: absolute;
	height: 50px;
	width: 150px;
	top: 120px;
	left: 525px;
	font-family: "Century Gothic";
	font-size: 17pt;
	color: black;
	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
	transition: color 0.4s;
	transition: background-color 0.4s;
}
#criar:hover
{
	cursor: pointer;
	background-color: rgb(43, 106, 255);
	color: white;
	transition: color 0.4s;
	transition: background-color 0.4s;
}