.frm
{
	position: absolute;
	top: 13vh;
	left: calc(50% - 18vh);
	font-family: "Century Gothic";
}
.frm label, .frm div
{
	position: absolute;
	width: auto;
	font-size: 3vh;
	text-align: justify;
	z-index: 3;
}
.frm input[type="text"]
{
	font-family: "Century Gothic";
	font-size: 3vh;
	padding: 0.1vh 0;
	border-width: 0.2vh;
}
.frm input[type="radio"]
{
	margin: 0.3vh 0.3vh 0vh 0.5vh;
	border: 0;
	height: 2vh;
	z-index: 4;
}
.frm img
{
	transition: background 0.5s;
}
#painelConta h1
{
	background: inherit;
	position: relative;
	bottom: 2vh;
	text-align: center;
	font-weight: bold;
	font-family: "Century Gothic";
	font-size: 4.7vh;
}
#painelConta hr
{
	position: absolute;
	top: 8vh;
}
#tipoIntervalo
{
	position: absolute;
	top: 0vh;
	left: 30vh;
	width: 100vh;
}
#nome
{
	position: absolute;
	top: 0vh;
	left: -30vh;
	width: 80vh;
	height: 10vh;
}
#tipo
{
	position: absolute;
	top: 12vh;
	left: -30vh;
	width: 80vh;
	height: 10vh;
}
#valor
{
	position: absolute;
	top: 10vh;
	left: 30vh;
	width: 80vh;
	height: 10vh;
}
#intervaloTempo
{
	position: absolute;
	top: 20vh;
	left: 30vh;
	width: 90vh;
	display: none;
	height: 10vh;
}
#freq
{
	position: absolute;
	top: 22vh;
	left: 40vh;
	height: 50vh;
	display: none;
}
.hidden {opacity: 0;}
#freq img
{
	position: absolute;
	width: 40px;
	height: 40px;
	top: 4vh;
	transition:opacity 0.25s linear;
	border-radius: 50%;
}
#freq img:hover {cursor: pointer;}
#domingoF
{
	left: -12vh;
}
#segundaF
{
	left: -6vh;
}
#tercaF
{
	left: 0;
}
#quartaF
{
	left: 6vh;
}
#quintaF
{
	left: 12vh;
	z-index: 6;
}
#sextaF
{
	left: 18vh;
}
#sabadoF
{
	left: 24vh;
}
#domingoT
{
	left: -12vh;
	z-index: 6;
}
#segundaT
{
	left: -6vh;
	z-index: 6;
}
#tercaT
{
	left: 0;
	z-index: 6;
}
#quartaT
{
	left: 6vh;
	z-index: 6;
}
#quintaT
{
	left: 12vh;
	z-index: 6;
}
#sextaT
{
	left: 18vh;
	z-index: 6;
}
#sabadoT
{
	left: 24vh;
	z-index: 6;
}
#tTempo
{
	font-family: "Century Gothic";
	font-size: 2.6vh;
	border-width: 0.1vh;
	height: 4vh;
}
#class
{
	position: absolute;
	top: 32.8vh;
	width: 100vh;
}
#class select
{
	font-family: "Century Gothic";
	font-size: 2.6vh;
	border-width: 0.1vh;
	height: 4vh;
}
#adicionarConta
{
	position: absolute;
	top: 47vh;
	width: 38vh;
	height: 7vh;
	background-color: white;
	color: black;
	border-radius: 4vh;
	border: 0.2vh solid black;
	transition: background-color 0.5s;
	font-size: 2.6vh;
	font-family: "Century Gothic";
}
#adicionarConta:hover
{
	background-color: lightgrey;
	transition: background-color 0.5s;
	cursor: pointer;
}

#addClass
{
	position: absolute;
	top: 3vh;
	left: 40vh;
	width: 20vh;
	height: 5.5vh;
	background-color: white;
	white-space: normal;
	color: black;
	border-radius: 4vh;
	border: 0.2vh solid black;
	transition: background-color 0.5s;
	text-align: center;
	font-size: 2vh;
	font-weight: bold;
	font-family: "Century Gothic";
}
#addClass:hover
{
	background-color: rgb(43, 106, 255);
	color: white;
	transition: color 0.3s;
	transition: background-color 0.5s;
	cursor: pointer;
}

#removeClass
{
	position: absolute;
	top: 3vh;
	left: -25vh;
	width: 20vh;
	height: 5.5vh;
	background-color: white;
	white-space: normal;
	color: black;
	border-radius: 4vh;
	border: 0.2vh solid black;
	transition: background-color 0.5s;
	text-align: center;
	font-size: 2vh;
	font-weight: bold;
	font-family: "Century Gothic";
}
#removeClass:hover
{
	background-color: rgb(134, 4, 4);
	color: white;
	transition: color 0.3s;
	transition: background-color 0.5s;
	cursor: pointer;
}

#txtClass
{
	display: none;
	font-size: 2vh;
}

#btnClass
{
	display: none;
	position: absolute;
	top: 7.75vh;
	left: 23vh;
	width: 3vh;
	height: 3vh;
	background-color: white;
	white-space: normal;
	color: black;
	border-radius: 4vh;
	border: 0.2vh solid black;
	transition: background-color 0.5s;
	text-align: right;
	font-size: 2vh;
	font-weight: bold;
	font-family: "Century Gothic";
}
#btnClass:hover
{
	background-color: lightgray;
	transition: background-color 0.5s;
	cursor: pointer;
}
#perda
{
	left: 20vh;
}
#p
{
	left: 22vh;
}
#abs
{
	left: 20vh;
}
#absTxt
{
	left: 22vh;
}