#painelConta
{
    height: 76vh;
    max-height: 76vh;
    min-height: 76vh;
}
#painelConta h1
{
	background: inherit;
	position: relative;
	bottom: 2vh;
	text-align: center;
	font-weight: bold;
	font-family: "Century Gothic";
	font-size: 4.7vh;
}
#painelConta hr
{
	position: absolute;
	top: 8vh;
}
#painelConta h2
{
    background: inherit;
	position: relative;
	bottom: 2vh;
	text-align: center;
	font-weight: bold;
	font-family: "Century Gothic";
	font-size: 3.5vh;
}
#sel
{
    width: 40vh;
    height: 5vh;
    font-family: 'Century Gothic';
    font-size: 3vh;
    position:relative;
    bottom: 2vh;
}
.par
{
    background: #c2c2c2;
}
.impar
{
    background: #d1d1d1;
}
.tabelaContas
{
    position: absolute;
    left: 10vh;
    height: auto;
    max-height: 25vh;
    overflow-y: scroll;
    width: auto;
}
.tabela
{
    font-family: 'Century Gothic';
    font-size: 2.5vh;
    color: black;
    text-align: center;
    border: 0.2vh solid black;
    border-collapse: collapse;
}

.inicio td
{
    margin: 2vh;
    font-weight: 500;
    font-size: 3.5vh;
    color: white;
    background: rgb(0, 0, 187);

}
.tabela td
{
    border: 0.1vh solid black;
    padding: 0.3vh;
}
#forma
{
    position: relative;    
	font-weight: bold;
	font-family: "Century Gothic";
	font-size: 2.75vh;
}
#tabelaTipo
{
    position:relative;
    bottom: 2vh;
    left: 30vh;
    font-family: "Century Gothic";
    font-size: 2vh;
    text-align: justify;
}