#painelConta h1
{
    position: relative;
    top: 2vh;
    font-size: 6vh;
    font-family: "Century Gothic";
}
.select
{
    position: relative;
    top: 2vh;
    left: 7vh;
    width: 75vh;
    height: 5vh;
    font-size: 4vh;
    font-family: "Century Gothic";
}
#btnExcluirConta
{
    position: relative;
    top: 35vh;
    right: 40vh;
    width: 20vh;
    height: 7vh;
    text-align: center;
    color: black;
    background-color: white;
    border: 0.2vh solid black;
    border-radius: 2vh;
    font-family: "Century Gothic";
    font-size: 4vh;
}
#btnExcluirConta:hover
{
    cursor: pointer;
    background-color: lightgrey;
    transition: background-color 0.5s;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
#valorE
{
    position: absolute;
    top: 20vh;
    left: 35vh;
    width: 300vh;
    height: 5vh;
    display: none;
    text-align: left;
    font-family: "Century Gothic";
    font-size: 7vh;
    font-weight: bold;
}